- var color = "#f0f6f7"
// для windows 8 плиток
meta(name="msapplication-TileImage", content="images/favicons/win8-tile-144.png")
meta(name="msapplication-TileColor", content=color)

// для apple устройств
link(rel="mask-icon", sizes="any", href="images/favicons/favicon.svg", color=color)
link(rel="apple-touch-icon", href="images/favicons/apple-touch-icon-192x192.png", sizes="192x192")
link(rel="shortcut icon", href="images/favicons/favicon.ico", type="image/x-icon")

// Манифест с информацией о сайте
link(rel="manifest", href="images/favicons/manifest.json")
meta(name="theme-color", content=color)