// +radio(text='Комп', checked='checked', inputName='name1')
mixin radio(text, checked, inputName)
    - var text = attributes.text ? attributes.text : ''
    - var checked = attributes.checked ? attributes.checked : false
    - var inputName = attributes.inputName ? attributes.inputName : ''

    label.js-radio(class=attributes.class)
        input(type="radio", checked=checked, name=inputName)
        span.cr
            span.cr-icon
        if text !=''
            span.radio__text=text